name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

    - name: Publish .NET Core Project
      run: dotnet publish VriesAlert/VriesAlert.csproj -c Release -o release --nologo

    # IMPORTANT: 
    # This step updates the <base href="/" /> tag in index.html to match your repository name.
    # This is required for GitHub Pages project sites (e.g. username.github.io/repo-name/).
    # If you are using a custom domain or User Page (username.github.io), you might want to remove this step.
    - name: Change base-tag in index.html from / to Project Name
      run: sed -i 's|<base href="/" />|<base href="/${{ github.event.repository.name }}/" />|g' release/wwwroot/index.html

    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll

    - name: Commit wwwroot to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        branch: gh-pages
        folder: release/wwwroot
